<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" crossorigin="anonymous">

    <title>Blog</title>
  </head>
  <body>
    <h1>Blog</h1>

    <form action="/new" method="POST" 
      style="display: flex; flex-direction: column; width: 400px; gap:8px;">
      <input type="text" name="author" placeholder="Enter your name" required>
      <input type="text" name="title" placeholder="Enter a title for your post" required>
      <textarea name="content" placeholder="Enter the content of your post" required></textarea>
      <button type="submit">Create Post</button>
    </form>

    <% if (posts.length === 0) { %>
      <p>Be the first to make a post!</p>
    <% } else { %>
      <% posts.forEach((post, i) => { %>
        <div>
          <h2><%= post.title %></h2>
          <p><%= post.content %></p>
          <p><small>By <%= post.author %> on <%= post.date.toLocaleString() %></small></p>
          <a href="/edit/<%= i %>">Edit</a> 
          <a href="/delete/<%= i %>">Delete</a>
          <hr>
        </div>
      <% }) %>
    <% } %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
