<!DOCTYPE html>
<html>
   <head> <!--tags from the bootstrap-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" crossorigin="anonymous">

  </head>
  <body>
    <h1>Blog</h1> <!--"Blog" header at the top-->
	 <!--form to create the new blogpost, and input for all the post would need-->
    <form action="/newPost" method="POST" style="display: flex; flex-direction: column; width: 400px; gap:8px;">
      <input type="text" name="author" placeholder="Enter your name" required>
      <input type="text" name="title" placeholder="Enter a title for your post" required>
      <textarea name="content" placeholder="Enter the content of your post" required></textarea>
      <button type="submit">Create Post</button> <!--submit button, when pressed it directly sends the data to server.js to collect the data-->
    </form>

    <% if (posts.length === 0) { %> <!--check if any posts exist-->
      <p>Be the first to make a post!</p> <!--if not-->
    <% } else { %>
      <% posts.forEach((post, i) => { %> <!--use a for loop to create a divider, then display title, content, author and date, edit and delete buttons-->
        <div>
          <h2><%= post.title %></h2>
          <p><%= post.content %></p>
          <p>By <%= post.author %> on <%= post.date.toLocaleString() %></p>
          <a href="/edit/<%= i %>">Edit</a> 
          <a href="/delete/<%= i %>">Delete</a>
          <hr>
        </div>
      <% }) %>
    <% } %>

	<!--other stuff for the bootstrap i used-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>